<ion-header class="header-red">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToSeleccion()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-bold">GRÁFICO</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="llevarP()">LLEVAME A PENTAHO</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/fondo4.mp4" type="video/mp4">
  </video>
  <div class="title-container">
    <h1 class="main-title">MUESTRA TOTAL</h1>
  </div>
  <div class="button-container">
    <div id="pentaho-container"></div>
    <div id="pentaho-container-2"></div>
  </div>
</ion-content>
