<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/fondo4.mp4" type="video/mp4">
  </video>
  <div class="button-container">
    <ion-button expand="block" (click)="goToNotasPon()">
      <img src="../assets/icon/seleccion1.png" alt="Icono" class="button-icon">
      <span class="button-text">ESTUDIANTES RETIRADOS</span>
    </ion-button>
    <ion-button expand="block" (click)="goToDeserAnual()">
      <img src="../assets/icon/seleccion2.png" alt="Icono" class="button-icon">
      <span class="button-text">DESERCIONES ANUALES</span>
    </ion-button>
    <ion-button expand="block" (click)="goToEstudiAnual()">
      <img src="../assets/icon/seleccion3.png" alt="Icono" class="button-icon">
      <span class="button-text">NOTAS DE DESERTORES</span>
    </ion-button>
  </div>
</ion-content>
