<ion-header class="header-red">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirmLogout()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-bold">GRÁFICO</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToChatBot()">Ir a Consulas Rapidas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/fondo4.mp4" type="video/mp4">
  </video>
  <div class="button-container">
    <ion-button expand="block" (click)="goToNotasPon()">
      <img src="../assets/icon/seleccion1.png" alt="Icono" class="button-icon">
      <span class="button-text">ESCALA ESTUDIANTES</span>
    </ion-button>
    <ion-button expand="block" (click)="goToDeserAnual()">
      <img src="../assets/icon/seleccion2.png" alt="Icono" class="button-icon">
      <span class="button-text">REGISTRO DE CARRERAS</span>
    </ion-button>
    <ion-button expand="block" (click)="goToEstudiAnual()">
      <img src="../assets/icon/seleccion3.png" alt="Icono" class="button-icon">
      <span class="button-text">PROMEDIO DE NOTAS</span>
    </ion-button>
  </div>
  <div class="muestra-total-container">
    <ion-button expand="block" class="muestra-total-button" (click)="goToMuestraTotal()">
      <img src="../assets/icon/seleccion4.png" alt="Icono" class="button-icon">
      <span class="button-text">DATOS GENERALES</span>
    </ion-button>
  </div>
</ion-content>
