<ion-content [fullscreen]="true">
    <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
      <source src="../assets/Videos/fondo5.mp4" type="video/mp4">
    </video>
    <!-- <div class="button-container">
      <ion-button expand="block" (click)="goToPanelControl()">
        <img src="../assets/icon/seleccion1.png" alt="Icono" class="button-icon">
        <span class="button-text">Panel Control</span>
      </ion-button>
      <ion-button expand="block" (click)="goToEstadisticas()">
        <img src="../assets/icon/seleccion2.png" alt="Icono" class="button-icon">
        <span class="button-text">Estadisticas</span>
      </ion-button>
      <ion-button expand="block" (click)="goToListaClips()">
        <img src="../assets/icon/seleccion3.png" alt="Icono" class="button-icon">
        <span class="button-text">Lista Clips</span>
      </ion-button>
  </div> -->
  </ion-content>
  